<%= render 'layouts/landing_page_header'%>
<div class="background-img text-center">
  <div class="jumbotron landing-jumbo">
    <div class="jumbo-container col-md-8 col-md-offset-2">
      <h1>Spend less time managing your equipment listings</h1>
    </div>

    <div class="col-md-12">
      <h3>
        Streamline helps you manage your online equipment from one simple dashboard.
      </h3>
    </div>
  </div>
</div>

<div class="benefit-description-container text-center">
  <%= image_tag image_path("dashboard-laptop.png"), class: "marketing-screenshot-laptop" %>

  <%= image_tag image_path("dashboard-screenshot.png"), class: "marketing-screenshot" %>

  <div class="container benefits-description">
    <h2>Stay on top of your equipment listings.</h2>
    <div class="col-md-4">
      <span class="badge">1</span>
      <h4 class="benefit-header">
        Keep track of listings
      </h4>
      <p class="text-left">
        You’ll never forget to update a listing because our dashboard keeps track of which sites you’re listing each machine on.
      </p>
    </div>
    <div class="col-md-4">
      <span class="badge">2</span>
      <h4 class="benefit-header">
        Update forms faster
      </h4>
      <p class="text-left">
        You can access any listing site directly from our dashboard and autofill listing forms in one click.
      </p>
    </div>
    <div class="col-md-4">
      <span class="badge">3</span>
      <h4 class="benefit-header">
        Keep things simple
      </h4>
      <p class="text-left">
        Our uncluttered dashboard focuses on the most basic machine information which means less fields for you to maintain.
      </p>
    </div>
  </div>
</div>

<div class="marketing-sites-container text-center">
  <div class="container">
    <div class="current-sites">
      <h2>SITES WE WORK WITH</h2>
      <div class="col-md-4">
        <%= image_tag image_path("logos/equipment-alley.png") %>
      </div>
      <div class="col-md-4">
        <%= image_tag image_path("logos/equipment-locator.png") %>
      </div>
      <div class="col-md-4">
        <%= image_tag image_path("logos/machinery-trader.png") %>
      </div>
    </div>
    <div class="coming-soon-sites">
      <h2>COMING SOON</h2>
      <div class="col-md-4">
        <%= image_tag image_path("logos/coming_soon/bobcat-used.png") %>
      </div>
      <div class="col-md-4">
        <%= image_tag image_path("logos/coming_soon/cat-used.png") %>
      </div>
      <div class="col-md-4">
        <%= image_tag image_path("logos/coming_soon/equipment-trader-online.png") %>
      </div>
      <div class="col-md-4">
        <%= image_tag image_path("logos/coming_soon/machine-finder.png") %>
      </div>
      <div class="col-md-4">
        <%= image_tag image_path("logos/coming_soon/machinio.png") %>
      </div>
      <div class="col-md-4">
        <%= image_tag image_path("logos/coming_soon/rock-and-dirt.png") %>
      </div>
    </div>
  </div>
</div>

<div class="learn-more-container text-center">
  <h2>Sounds cool! Can you tell me more?</h2>

  <h4 class="marketing-text-wide">
    <span>Yes!</span> We'll be launching soon and we'd love to talk to you.
  </h4>
  <h4 class="marketing-text-wide">
    Send us an email with your contact info and we'll get back to you today.
  </h4>
  <%= mail_to "wade@streamlineapp.com", "Say Hello!",
                                        subject: "Hi Wade! Tell me more about Streamline.",
                                        class: "btn btn-lg btn-primary",
                                        id: "say-hello" %>
</div>

<div class="bottom-footer">
  <p>We think listing equipment online is a pain in the butt. We're trying to change that at Streamline.</p>
</div>

