<div class="parallax">
  <div class="parallax-group">
    <div class="background-img parallax-layer parallax-layer-back"></div>
    <div class="jumbotron landing-jumbo">
      <div class="jumbo-container col-md-8">
        <h1>Spend less time managing your equipment listings</h1>
        <hr >
        <div class="try-free-header col-md-12">
          <h2>Sign up and start using Streamline FREE today</h2>
          <%= link_to "Get Started Now", new_user_registration_path, class: "btn btn-warning" %>
        </div>
      </div>
      <div class="signup-card col-md-4">
        <div class="signup-card-header text-center">
          <p>Get started right now!</p>
        </div>
        <div class="signup-form">
          <%= form_for(User.new, url: registration_path(:user)) do |f| %>
            <%= f.text_field :company_name,
                             autofocus: true,
                             class: "form-control",
                             placeholder: "company name" %>

            <%= f.email_field :email,
                              class: "form-control",
                              placeholder: "email" %>

            <%= f.password_field :password,
                                 autocomplete: "off",
                                 class: "form-control",
                                 placeholder: "password (#{@minimum_password_length} char min)" %>

            <%= f.password_field :password_confirmation,
                                 autocomplete: "off",
                                 class: "form-control",
                                 placeholder: "confirm password" %>

            <%= f.submit "Get Started", class: "btn btn-warning btn-block" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="parallax-layer-base landing-page-copy landing-page-copy-light first-landing-copy">
      <div class="container landing-copy-container">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-md-8">
            <h3>
              Selling equipment online lets you reach more potential customers than ever before.
            </h3>
          </div>
          <div class="col-md-4">
            <h3><small>That's a good thing.</small></h3>
          </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <div class="col-md-8">
            <h3>
              Scheduling time to maintain all of your listings on sites like Machinery Trader and Equipment Locator?
            </h3>
          </div>
          <div class="col-md-4">
            <h3><small>Not such a good thing.</small></h3>
          </div>
        </div>
      </div>
      <h3 class="text-center">We know that, and we're here to help you out. &darr;</h3>
    </div>
    <div class="parallax-layer-base landing-page-copy landing-page-copy-dark">
      <div class="container landing-copy-container">
        <div class="col-md-10 col-md-offset-1">
        <div class="page-header"><h2>What Streamline does</h2></div>
          <p>
            Streamline gives you a master copy of your inventory that you can access on any listing site. With just one click you can update a listing and then move on to the next site. No more tabbing between windows copying and pasting one field into another. With Streamline it's easy - one click and all the fields are updated. <%= link_to "See how it works ->", "#" %>
          </p>
        </div>
      </div>
    </div>
    <div class="parallax-layer-base landing-page-copy landing-page-copy-light">
      <div class="container landing-copy-container">
        <div class="col-md-10 col-md-offset-1">
          <h2><strong>Sites we work with:</strong></h2>
        </div>
      </div>
    </div>
  </div> <!-- parallax group -->
</div> <!-- parallax -->

