<div class="row edit-profile-container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title panel-header-text-left">Edit Profile</h3>
      <p class="header-link-right">
        <%= link_to "Cancel my account", registration_path(resource_name),
                                     class: 'btn pull-right delete-link',
                                     data: { confirm: "Are you sure?" },
                                     method: :delete %>
      </p>
    </div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name,
                             url: registration_path(resource_name),
                             html: { method: :put }) do |f| %>

        <% if resource.errors.any? %>
          <%= render 'shared/errors', resource: resource %>
        <% end %>

        <div class="col-md-6">
          <div class="form-column-header">
            <h3>Account Info</h3>
          </div>

          <hr />

          <div class="form-group">
            <%= f.label :company_name, "Company Name", class: 'control-label' %>
            <%= f.text_field :company_name, class: 'form-control', autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.label :email, class: 'control-label' %>
            <%= f.text_field :email, class: 'form-control', autofocus: true %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
              <%= f.label :password, class: 'control-label' %>
              <small><em>(leave blank if you don't want to change it)</em></small>
              <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
            </div>

          <div class="form-group">
            <%= f.label :password_confirmation, class: 'control-label' %>
            <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
          </div>

          <div class="form-group">
            <%= f.label :current_password, class: 'control-label' %>
            <%= f.password_field :current_password, class: 'form-control', autocomplete: "off" %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-column-header">
            <h3>Dealerships</h3>
            <p class="header-link-right"><%= link_to "Add a location", new_dealership_path, class: "btn" %></p>
          </div>
          <hr />

          <div class="dealerships-display">
            <% if current_user.dealerships.count == 0 %>
              <strong>No locations yet!</strong>
            <% end %>
            <% current_user.dealerships.each do |dealership| %>
              <div class="panel panel-default dealerships-summary">
                <div class="panel-heading">
                  <h3 class="panel-title panel-header-text-left"><%= dealership.city %></h3>
                  <p class="header-link-right">
                    <%= link_to "Edit", edit_dealership_path(dealership), class: "btn" %>
                  </p>
                </div>
                <div class="panel-body dealership-info">
                  <small>
                    <p><%= dealership.address %></p>
                    <p><%= dealership.city %>, <%= dealership.state %> <%= dealership.zip %></p>
                  </small>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-md-12 text-center">

          <hr />

          <div class="actions">
            <%= f.submit "Update my Account", class: 'btn btn-primary' %>
            or
            <%= link_to "Cancel", machines_path %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
