<div class="panel panel-default machine-form-panel">
  <div class="panel-heading">
    <h4>Review which sites you're listing stock <%= machine.stock_number %> on:</h4>
  </div>
  <div class="panel-body text-center">
    <% machine.listings.each do |listing| %>
      <% case listing.website %>
      <% when "equipment_alley" %>
            <%= image_tag image_path("equipment-alley.png") %>
            <p class="listing-submit-button">
              <%= link_to "Stop listing on Equipment Alley", listing,
                                                             method: "delete",
                                                             class: "btn btn-default listing-confirm-button",
                                                             id: "equipment_alley_listing",
                                                             remote: true %>
            </p>
      <% when "equipment_locator" %>
            <%= image_tag image_path("equipment-locator.png") %>
            <!-- <p class="listing-submit-button"> -->
              <%= check_box_tag "list" %>
              <%= link_to "Stop listing on Equipment Locator", listing,
                                                               method: "delete",
                                                               class: "btn btn-default listing-confirm-button",
                                                               id: "equipment_locator_listing",
                                                               remote: true %>
            <!-- </p> -->
      <% when "machinery_trader" %>
        <div id="mt-listing-container">
          <div class="row">
            <%= image_tag image_path("machinery-trader.png") %>
            <p class="listing-submit-button">
              <%= link_to "Stop listing on Machinery Trader", listing,
                                                              method: "delete",
                                                              class: "btn btn-default listing-confirm-button",
                                                              id: "machinery_trader_listing",
                                                              remote: true %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if machine.listings.count < 3 %>
      <div class="col-md-12 text-center">
        <p>
          <%= link_to "Add another site",
                      new_listing_path(params: {machine_id: machine.id}),
                      class: "cancel-machine",
                      remote: true %>
        </p>
      </div>
    <% end %>
  </div>
</div>
