<div class="listing-form-container">
  <h3>Manage listing sites for stock <%= machine.stock_number %></h3>

  <div class="col-md-4">
    <%= form_for Listing.new, remote: true do |f| %>
      <%= image_tag image_path("logos/equipment-alley.png") %>
      <%= f.hidden_field :website, value: :equipment_alley %>
      <%= f.hidden_field :machine_id, value: machine.id %>
      <%= f.hidden_field :current, value: false %>
      <% if already_listed(machine, 0) %>
        <%= check_box_tag "equipment_alley_listing", "listed", true,
                           data: { remote: true, method: "delete",
                                   url: listing_path(machine.listings.find_by(website: 0)) } %>
      <% else %>
        <%= check_box_tag "equipment_alley_listing", "listed", false, class: "new-listing-checkbox" %>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-4">
    <%= form_for Listing.new, remote: true do |f| %>
      <%= image_tag image_path("logos/equipment-locator.png") %>
      <%= f.hidden_field :website, value: :equipment_locator %>
      <%= f.hidden_field :machine_id, value: machine.id %>
      <%= f.hidden_field :current, value: false %>
      <% if already_listed(machine, 1) %>
        <%= check_box_tag "equipment_locator_listing", "listed", true,
                           data: { remote: true, method: "delete",
                                   url: listing_path(machine.listings.find_by(website: 1)) } %>
      <% else %>
        <%= check_box_tag "equipment_locator_listing", "listed", false, class: "new-listing-checkbox" %>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-4">
    <%= form_for Listing.new, remote: true do |f| %>
      <%= image_tag image_path("logos/machinery-trader.png") %>
      <%= f.hidden_field :website, value: :machinery_trader %>
      <%= f.hidden_field :machine_id, value: machine.id %>
      <%= f.hidden_field :current, value: false %>
      <% if already_listed(machine, 2) %>
        <%= check_box_tag "machinery_trader_listing", "listed", true,
                           data: { remote: true, method: "delete",
                                   url: listing_path(machine.listings.find_by(website: 2)) } %>
      <% else %>
        <%= check_box_tag "machinery_trader_listing", "listed", false, class: "new-listing-checkbox" %>
      <% end %>
    <% end %>
  </div>
</div>
