<div class="panel panel-default machine-form-panel">
  <div class="panel-heading">
    <% if machine.persisted? %>
      <h3 class="panel-title panel-header-text-left">Edit stock <%= machine.stock_number %></h3>
    <% else %>
      <h3 class="panel-title panel-header-text-left">Add a Machine</h3>
    <% end %>
    <% if machine.persisted? %>
      <p class="header-link-right">
        <%= link_to "Delete Machine", machine,
                                      data: { confirm: "Are you sure you want to delete this machine?" },
                                      method: "delete",
                                      class: "btn pull-right delete-link" %>
      </p>
    <% end %>
  </div>
  <div class="panel-body">
  <%= form_for machine, remote: true do |f| %>
    <% if machine.errors.any? %>
      <%= render "shared/errors", resource: machine %>
    <% end %>

    <div class="row">
      <div class="col-md-6 machine-form-column">
        <div class="form-group">
          <%= f.label :stock, class: "control-label" %>
          <%= f.text_field :stock_number, class: "form-control",
                                          autofocus: "autofocus",
                                          value: machine.stock_number %>
        </div>

        <div class="form-group">
          <%= f.label :year, class: "control-label" %>
          <%= f.select :year, [], { prompt: "Select a year..." }, { class: "form-control" } do %>
            <% if machine.year != nil %>
              <%= content_tag :option, machine.year, selected: "selected" %>
              <%= content_tag :option, "--", disabled: "disabled" %>
            <% end %>
            <% 99.times do |n| %>
              <%= content_tag(:option, (Time.now.year + 1) - n) %>
            <% end %>
            <%= content_tag :option, "Unknown", value: 0 %>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :make, class: "control-label" %>
          <%= f.text_field :make, class: "form-control", value: machine.make %>
        </div>

        <div class="form-group">
          <%= f.label :model, class: "control-label" %>
          <%= f.text_field :machine_model, class: "form-control", value: machine.machine_model %>
        </div>

        <div class="form-group">
          <%= f.label :type, class: "control-label" %>
          <%= f.text_field :machine_type, class: "form-control", value: machine.machine_type %>
        </div>
      </div>

      <div class="col-md-6 machine-form-column">
        <div class="form-group">
          <%= f.label :serial, class: "control-label" %>
          <%= f.text_field :serial_number, class: "form-control", value: machine.serial_number %>
        </div>

        <div class="form-group">
          <%= f.label :hours, class: "control-label" %>
          <%= f.text_field :hours, class: "form-control", value: machine.hours %>
        </div>

        <div class="form-group">
          <%= f.label :price, class: "control-label" %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :price, class: "form-control",
                                     value: machine.price,
                                     placeholder: "No decimals, commas or dollar signs please!" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :dealership_id, "Location", class: "control-label" %>
          <%= f.select :dealership_id, [], {}, { class: "form-control" } do %>
            <% if machine.year != nil %>
              <%= content_tag :option,
                              machine.location.city,
                              selected: "selected",
                              value: machine.location.id %>
              <%= content_tag :option, "--", disabled: "disabled" %>
            <% end %>
            <%= content_tag :option, "Choose a location...", disabled: "disabled"%>
            <% current_user.dealerships.order("city ASC").each do |dealership| %>
              <%= content_tag :option, dealership.city, value: dealership.id %>
            <% end %>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :description, class: "control-label" %>
          <%= f.text_area :description, class: "form-control", rows: "4", value: machine.description %>
        </div>
      </div>
    </div>

    <% if machine.persisted? %>
      <div class="col-md-12 text-center">
        <% if machine.listings.count > 0 %>
          <%= render "listings/new_form", machine: machine %>
        <% else %>
          <p>
            <small>
              <%= link_to "Not listing on any sites? Add some here",
                          new_listing_path(params: {machine_id: machine.id}),
                          class: "cancel-machine",
                          remote: true %>
            </small>
          </p>
        <% end %>
      </div>
    <% end %>

    <hr />

    <div class="row machine-form-buttons">
      <div class="col-md-12 text-center">
        <p>
          <% if machine.persisted? %>
            <%= f.submit "Save changes", class: "btn btn-primary" %>
          <% else %>
            <%= f.submit "Create machine", class: "btn btn-primary create-machine" %>
          <% end %>
          or
          <small><%= link_to "Cancel", machines_path, class: "cancel-machine", remote: true %></small>
        </p>
      </div>
    </div>
  <% end %>
</div>
