<%= content_tag(:td, nil, class: (add_outdated_banner(machine) ?
                                  "machine-preview-outdated stock-number-cell" : "stock-number-cell")) do %>
  <%= link_to edit_machine_path(machine), class: "edit-machine-link", remote: true do %>
    <span class="sorted-by"><%= machine.stock_number %></span>
  <% end %>
<% end %>

<%= content_tag(:td, nil, class: (add_outdated_banner(machine) ?
                                  "machine-preview-outdated make-cell" : "make-cell")) do %>
  <%= link_to edit_machine_path(machine), class: "edit-machine-link", remote: true do %>
    <%= machine.make %>
  <% end %>
<% end %>

<%= content_tag(:td, nil, class: (add_outdated_banner(machine) ?
                                  "machine-preview-outdated machine-model-cell" : "machine-model-cell")) do %>
  <%= link_to edit_machine_path(machine), class: "edit-machine-link", remote: true do %>
    <%= machine.machine_model %>
  <% end %>
<% end %>

<%= content_tag(:td, nil, class: (add_outdated_banner(machine) ?
                                  "machine-preview-outdated machine-type-cell" : "machine-type-cell")) do %>
  <%= link_to edit_machine_path(machine), class: "edit-machine-link", remote: true do %>
    <%= machine.machine_type %>
  <% end %>
<% end %>

<%= content_tag(:td, nil, class: (add_outdated_banner(machine) ?
                                  "machine-preview-outdated machine-serial-cell" : "machine-serial-cell")) do %>
  <%= link_to edit_machine_path(machine), class: "edit-machine-link", remote: true do %>
    <%= machine.serial_number %>
  <% end %>
<% end %>
