<div class="table-container-wide">
  <div class="search-header">
    <div class="add-machine-container">
      <%= link_to "Add a new machine", new_machine_path,
                                       class: "btn btn-warning add-machine-link",
                                       remote: true %>
    </div>
    <div class="search-machines-container">
      <%= form_tag(machines_path, method: "get", class: "machines-searchbar", id: "machine-search") do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search],
                                      class: "form-control",
                                      placeholder: "Search my inventory..." %>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search</button>
          </span>
        </div>
      <% end %>
    </div>
  </div>
  <table class="table table-hover machine-inventory-list">
    <thead>
      <tr class="machine-table-header">
        <%= machine_list_header("stock", "stock-number-cell", "stock_number") %>
        <%= machine_list_header("make", "make-cell", "make") %>
        <%= machine_list_header("model", "machine-model-cell", "machine_model") %>
        <%= machine_list_header("type", "machine-type-cell", "machine_type") %>
        <%= machine_list_header("serial", "machine-serial-cell", "serial_number") %>
      </tr>
    </thead>
    <tbody id="machine-table-body">
      <%= render @machines %>
    </tbody>
  </table>
  </div>
</div>
<div class="edit-form-container"></div>
