<div class="table-container-wide">
  <div class="sort-header">
    <div class="col-lg-6">
      <%= form_tag(machines_path, method: "get", class: "machines-searchbar", id: "machine-search") do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search],
                                      class: "form-control",
                                      placeholder: "Search my inventory..." %>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search</button>
          </span>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= form_tag(machines_path, method: "get", class: "machines-sort", id: "machine-sort") do %>
        <div class="form-group">
          <%= select("machines",
                     "sort",
                     [ ["Sort by Stock Number", "stock_number"],
                       ["Sort by Make", "make"],
                       ["Sort by Model", "machine_model"],
                       ["Sort by Type", "machine_type"],
                       ["Sort by Serial Number", "serial_number"],
                       ["Sort by Hours", "hours"],
                       ["Sort by Price", "price"],
                     ],
                     {},
                     { class: "form-control" }) %>
        </div>
      <% end %>
    </div>
  </div>
  <table class="table table-hover machine-inventory-list">
    <thead>
      <tr class="machine-preview">
        <%= machine_list_header("Stock", "stock-number-cell") %>
        <%= machine_list_header("Make", "make-cell") %>
        <%= machine_list_header("Model", "machine-model-cell") %>
        <%= machine_list_header("Type", "machine-type-cell") %>
        <%= machine_list_header("Status", "machine-status-cell") %>
      </tr>
    </thead>
    <tbody>
      <%= render @machines %>
    </tbody>
  </table>
  </div>
</div>
<div id="edit-form-container"></div>
