<p id="notice"><%= notice %></p>

<div class="row table-container">
  <table class="machine-table table table-hover">
    <thead class="table-head sort-search-header">
      <tr>
        <td colspan="7">Sort or search your inventory</td>
      </tr>
    </thead>
    <tbody>
      <% @machines.each do |machine| %>
        <tr>
          <td>
            <%= link_to "#{machine.stock_number}", edit_machine_path(machine.id) %>
          </td>
          <td>
            <%= link_to "#{machine.make}", edit_machine_path(machine.id) %>
          </td>
          <td>
            <%= link_to "#{machine.machine_model}", edit_machine_path(machine.id) %>
          </td>
          <td>
            <%= link_to "#{machine.machine_type}", edit_machine_path(machine.id) %>
          </td>
          <td>
            <%= link_to "#{machine.hours}", edit_machine_path(machine.id) %>
          </td>
          <td>
            <%= link_to "#{machine.price}", edit_machine_path(machine.id) %>
          </td>
          <td>
            <%= link_to "#{machine.dealership}", edit_machine_path(machine.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
