<!DOCTYPE html>
<html>
<head>
  <title>Streamline</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="body-container">
    <%= render 'layouts/landing_page_header' unless current_user.present? %>
    <%= render 'layouts/sidebar' if current_user.present? %>
    <% unless flash.empty? %>
      <div class="flash-container">
        <%= render 'shared/flash_messages' %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
