<!DOCTYPE html>
<html>
<head>
  <title>Streamline</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' if current_user.present? %>
  <%= render 'layouts/landing_page_header' unless current_user.present? %>
  <%= render 'layouts/sidebar' if current_user.present? %>
  <div class="row table-container">
    <% unless flash.empty? %>
      <%= render 'shared/flash_messages' %>
    <% end %>
  </div>
  <%= yield %>
</body>
</html>
